extends layout.pug

block content
  img(src="/images/logo.png" alt="Logo de l'Agence Immobilière")
  h1 Bienvenue sur notre Agence Immobilière 94 ITT
  // Autres éléments HTML spécifiques à la page d'accueil
