doctype html
html
  head
    title Agence Immobilière
    link(href="/css/style.css" rel="stylesheet")
    // Autres métadonnées, liens CSS, etc.
    block scripts
  body
    header
      // Ici, vous pourriez placer une navigation ou un en-tête
    block content
    footer
      // Pied de page
