//- doctype html
//- html(lang="fr")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     title ImmoNeuf
//-     block stylesheet
//-     link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer")
//-     link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
//-     link(href="/css/main.css" rel="stylesheet")
//-   body 
//-     nav.navbar.navbar-expand-lg.bg-body-tertiary
//-       .container
//-         a.navbar-brand(href="/") 
//-           img(src="/images/immoneuf.png")
//-         button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
//-           span.navbar-toggler-icon
//-         #navbarNavDropdown.collapse.navbar-collapse
//-           ul.navbar-nav
//-   if user
//-     li.nav-item
//-       a.nav-link(href="/logout") Déconnexion
//-   else
//-     li.nav-item
//-       a.nav-link(href="/register") Inscription
//-     li.nav-item
//-       a.nav-link(href="/login") Connexion
    
//-     // Cette partie a été changée ; faites tout l'indentation de ces messages au même niveau : 
//-     each msg in getMessages().notify || []
//-       .alert.alert-info= msg

//-     each err in getMessages().error || []
//-       .alert.alert-danger= err
        
//-     block content 

//-     footer 
//-       .container
//-         div Un super footer
//-     script(src=process.env.BROWSER_REFRESH_URL)
//-     script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")
doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ToiToiMonToit
        block stylesheet
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
        link(href="/css/main.css" rel="stylesheet")
    body 
        nav.navbar.navbar-expand-lg.bg-body-tertiary
            .container
                a.navbar-brand(href="/") 
                    img(src="/img/logo.png")
                button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse
                    ul.navbar-nav
                        if session.user 
                            li.nav-item
                                a.nav-link(href="/") Déconnexion
                        else
                            li.nav-item
                                a.nav-link(href="/inscription") Inscription
                            li.nav-item
                                a.nav-link(href="/connexion") Connexion
        
        .container
            - var messages = getMessages()
            if messages.notify
                each msg in messages.notify
                    .alert.alert-info= msg
            if messages.error
                each msg in messages.error
                    .alert.alert-danger= msg
        block content 


        footer 
            .container
                div Un super footer
        script(src=process.env.BROWSER_REFRESH_URL)
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")