extends layout.pug  

block content
  .container
    .row
      .col-md-6.offset-md-3
        h1 Inscription réussie !
        p Votre compte a été créé avec succès, votre ID utilisateur est: #{userId}
        a(href='/') Retour à l'accueil