extends ../layout.pug

block breadcrumb  
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#')
                i.fas.fa-tachometer-alt
                | &nbsp;Dashboard

block content
    .container.mt-4
        p Bienvenue sur le dashboard